    /**** Importation des fonts ****/
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('images.css');
    @import url('responsive.css');
    * {
        font-family: "Montserrat", sans-serif;
    
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    html {
        scroll-behavior: smooth;
      }

    body {
        overflow-x: hidden;
    }

    /**** header ****/
    header {
        position: fixed;
        display: flex;
        justify-content:space-between;
        align-items: center;
        background-color: #fed119;
        border-radius: 0px 0px 90px 90px;
        top: 0;
        width: 100%;
        font-family: "Montserrat", sans-serif;
        padding: 10px;
        transition: 0.6s;
        z-index: 10;
    }

    header img {
        width: 100%;
        max-width: 100px;
        padding-left: 80px;
    }

    header nav {
        display:flex;
        gap: 60px;
    }

    header nav a {
        text-decoration: none;
        font-size: 30px;
        font-weight: 600;
        padding: 8px 30px;
        border-radius: 20px;
        transition: 0.3s;
        color: #2b2b2e
    }

    header nav a:active {
        background-color: #fed119 ;
    }

    header nav a:hover{
        background-color: #2b2b2e;
        color: #fed119;
    }

    header nav:hover > a:no(:hover){
        background:none;
    }

    /********** Sections **********/


    /** tout le texte gregory edité **/

    .container-infos-gre {
        height: 120vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
    }

    .container-infos-gre h1 {
        width: 100%;
        max-width: 500px;
        z-index: -1;
    }

    .text-extermination-guepes{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        color: #2b2b2e;
        display: none;
    }

    .text-extermination-guepes h2 {
        font-size: 70px;
        text-transform: uppercase;
    }

    .container-infos-gre.defilement-hidden .text-extermination-guepes {
        opacity: 1;
    }


    .parallax-gregory-text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #2b2b2e;
        z-index: -1;
        opacity: 1;
    }

    .container-infos-gre.defilement .parallax-gregory-text {
        opacity: 0;
    }

    .parallax-gregory-text h1 {
        text-align: center;
        letter-spacing: -2px;
    }

    /** changer la taille du texte**/
    .gregory-text h1::first-line{
        font-size: 120px;
    }

    .container-infos-gre {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
        position:fixed;
    }

    .container-infos-gre h1{
        font-size: 90px;
    }

    .container-infos-gre p {
        width: 100%;
        max-width: 600px;
        font-size: 90px;
        font-weight: 600;
    }



/**** image parallax ****/


.container-nit-guepes{
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.nit-guepes {
    position:absolute;
    width: 800px;
    padding: 900px 0 0 0 ;
}


.container-service-propose {
    height: 250px;
    padding: 200px 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    color: #2b2b2e;

    background-image: radial-gradient(gray 1px, transparent 0);
    background-size: 7px 7px;
    background-position: -19px -19px;
}

.container-childs {
    width: 100%;
    max-width: 900px;
    display: flex;
    background-color:white;
    border-radius: 14px;
    padding: 50px 100px;
}

.container-childs > article:nth-child(1){
    background-color: #fed119;
    border-radius: 14px;
    padding: 10px 30px;
    font-size: 60px;
    font-weight: bold;
}

.container-childs > article:nth-child(1) p {
    padding: 12px 40px;
    margin: 0 40px;
}

.container-childs > article:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 60px;
    
}

.container-childs button {
    width: 150px;
    font-size: 10px;
    margin: 5px 0;
    padding: 10px;
    background-color: white;
    border: solid #2b2b2e;
    border-radius: 18px;
    font-weight: 700;
    transition: 0.2s ease;
}

.container-childs button:hover {
    transform: scale(1.1) rotate(-5deg);
    background-color: #fed119;
}

/**** mouvement guêpes ****/

.groupe-guepes {
    width: 100%;
    position: relative;
    background-color: antiquewhite;
    z-index: 1;
}


/**** Affectation guêpes tailles rotation ****/
.Fichier1 {
    width: 100%;
    max-width: 200px;
    transform: scalex(-1) rotate(-50deg);
    position: absolute;
    top: -200vh;
    left: 200PX;
}

.Fichier2 {
    width: 100%;
    max-width: 350px;
    transform:  rotate(-20deg);
    position: absolute;
    top: -240vh;
    right: 400px;
}

.Fichier3 {
    width: 100%;
    max-width: 100px;
    transform:  rotate(-20deg);
    position: absolute;
    top: -150vh;
    right: 200px;
}

.Fichier4 {
    width: 100%;
    max-width: 200px;
    transform:  rotate(-20deg);
    position: sticky;
    top: -50vh;
    right: 70vh;
    z-index: 2;
}

.Fichier5 {
    width: 100%;
    max-width: 200px;
    transform: scalex(-1);
    position: absolute;
    top: -250vh;
    left: 40vh;
}

/**** carte des travaux ****/

.container-examples {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.avant-me-contacter {
    margin: 0 40vh;
    color: #2b2b2e;
}

.avant-me-contacter p:nth-child(1) {
    margin: 40px 0 0 0;
    color:#fed119;
    font-size: 20px;
}

.avant-me-contacter p:nth-child(2) {
    margin: 10px 0 90px 0 ;
    font-size: 100px;
    font-weight: 600;
}

.avant-me-contacter p:nth-child(3) {
    width: 100%;
    max-width: 400px;
    font-size: 20px;
    font-weight: 300;
}

.deux-examples {
    width: 100%;
    height: 300vh;
    display: flex;
    justify-content: space-evenly;
    color: #2b2b2e;
}

.child-example {
    width: 100%;
    max-width: 490px;
    height: 290px;
    display: flex;
    gap: 20px;
    background-color: #fed119;
    margin: 150px 0 0 0;
    padding: 50px;
    border-radius: 30px;

    transition: 0.5s ease;
    -webkit-box-shadow: 10px 10px 6px -4px rgba(0,0,0,0.20); 
    box-shadow: 10px 10px 6px -4px rgba(0,0,0,0.20);
}

.child-example:hover {
    transform: scale(1.1) rotate(10deg);
    background-color: #fed119;
}

.child-example2 {
    width: 100%;
    max-width: 490px;
    height: 290px;
    display: flex;
    gap: 20px;
    background-color: #fed119;
    margin: -100px 0 0 0;
    padding: 50px;
    border-radius: 30px;
    transition: 0.5s ease;

    -webkit-box-shadow: 10px 10px 6px -4px rgba(0,0,0,0.20); 
    box-shadow: 10px 10px 6px -4px rgba(0,0,0,0.20);
}

.child-example2:hover {
    transform: scale(1.1) rotate(-10deg);
    background-color: #fed119;
}

.text-intervention {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-intervention p:nth-child(1){
    font-size: 15px;
}

.text-intervention p:nth-child(2){
    margin: 0;
    font-size: 110px;
    font-weight:500 ;
}


.textDansLaRegion p:nth-child(1) {
    font-weight:800;
    margin: 0 0 30px 0;
}

.projects-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 10rem;
    text-transform: uppercase;
    font-weight: 800;
}

footer {
    background-color: #fed119;
    color: #2b2b2e;
}

.flex-row {
    margin: 0 30rem;
    display: flex;
    gap: 20vh;
}

.contact {
    font-weight: 500;
}

.contact-horaires {
    padding: 190px 0;
}


.contact:nth-child(2) {
    padding: 0;
}

.image-footer img {
    width: 550px;
    transform: translate(-10px, -150px);
}

.bold {
    font-weight: 700;
    text-transform: uppercase;
}

/* ajoute de l'animation pour montrer la page */
.reveal-scroll {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal-scroll.active {
    transform: translateY(0px);
    opacity: 1;
}

/*  responsive */

/* burger menu */
@media screen and (max-width:847px) {

    header {
        background-color: transparent ;
        /* backdrop-filter: blur(10px);
        background-image: linear-gradient(
            120deg,
            rgba(225, 196, 6, 0.3),
            rgba(15, 5, 19,0.2) */
    }

.off-screen-menu {
    background-color:#2b2b2e;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu a {
    color: #fed119;
}

.off-screen-menu a:hover {
    color:aliceblue;
}

.off-screen-menu.active {
    right: 0;
}

.nav {
    padding: 1rem;
    display: flex;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color:#fed119;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

/* creation de la rotation du burger menu en cliquant */
.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
    opacity: 0;
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform:  translate(-50%, -50%) rotate(-45deg);
}

.avant-me-contacter {
    margin: 0 5vh;
}

.avant-me-contacter p:nth-child(2) {
    font-size: 90px;
}

.deux-examples {
    display: grid;
    row-gap: 12em;
}

.container-service-propose {
    margin-top: 570px;
}
.container-childs > article:nth-child(1) {
    font-size: 30px;
}

.container-childs {
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

.container-childs > article:nth-child(2) {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-left: 0;
}

#image-track {
    font-size: 4rem;
    left: 30%;
}

.projects-text {
    font-size: 4rem;
}

.flex-row {
    padding: 2rem 0;
    margin: 0 2rem;
    gap: 4vh;
}

.image-footer img {
    transform: translate(-10px, -140px);
}

.container-infos-gre h1 {
    font-size: 70px;
}

.text-extermination-guepes h2 {
    font-size: 50px;
}

.nit-guepes {
    width: 600px;
}

.Fichier2 {
    width: 100%;
    max-width: 350px;
    transform: rotate(-20deg);
    position: absolute;
    top: -360vh;
    right: 50px;
}

.container {
    height: 50vh;
}
}

@media screen and (max-width: 600px) {

    .Fichier2 {
        width: 100%;
        max-width: 220px;
        transform: rotate(-20deg);
        position: absolute;
        top: -360vh;
        right: 50px;
    }

    .nit-guepes {
        padding: 970px 0 0 0;
    }

    .Fichier5 {
        width: 100%;
        max-width: 200px;
        transform: scalex(-1);
        position: absolute;
        top: -250vh;
        left: 3vh;
    }

    .Fichier1 {
        width: 100%;
        max-width: 200px;
        transform: rotate(-52deg);
        position: absolute;
        top: -200vh;
        left: 200PX;
    }

    .avant-me-contacter p:nth-child(2) {
        font-size: 62px;
    }

    .Fichier3 {
        right: 38px;
    } 

    .deux-examples {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .child-example,
    .child-example2 {
        width: 360px;
        height: 390px;
        flex-direction: column;
    }

    .text-intervention p:nth-child(2) {
        font-weight: 90px;
    }

    .container-service-propose {
        margin-top: 660px;
    }

    .container-childs {
        width: 300px;
    }

    .container-childs > article:nth-child(1) {
        font-size: 20px;
    }

    .Fichier4 {
        max-width: 100px;
    }

    .image-footer img {
        width: 460px;
        transform: translate(-93px, -187px);
    }

    .contact div img {
        width: 138px;
    }

    .contact-horaires {
        padding: 113px 0;
    }
}

@media (min-width: 848px) and ( max-width:1500px) {

    .Fichier5 {
        width: 100%;
        max-width: 200px;
        transform: scalex(-1);
        position: absolute;
        top: -250vh;
        left: 0vh;
    }

    .Fichier2 {
        width: 100%;
        max-width: 250px;
        transform: rotate(-20deg);
        position: absolute;
        top: -240vh;
        right: 13px;
    }

    .avant-me-contacter {
        margin: 0 4vh;
    }

    .deux-examples {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20vh;
    }

    .container-examples {
        height: 140vh;
    }

    .container {
        height: 70vh;
    }

    .flex-row {
        margin: 0 1rem;
        gap: 9vh;
    }

    .Fichier1 {
        width: 100%;
        max-width: 200px;
        transform: rotate(-50deg);
        position: absolute;
        top: -200vh;
        left: 1031PX;
    }
}